@{ Layout = "_Layout"; }

<div class="container text-center text-gradient mt-5 mb-1">
    <h1>Личный кабинет</h1>
    <hr>
</div>

<span class="border border-primary">
    <div class="col-md-12 order-md-1">
        <form class="needs-validation" asp-controller="Home" asp-action="DetailUser" novalidate>
            <div class="mb-3">
                <label for="NameOfDeal">Имя аккаунта:<h4>@ViewBag.UserVerefy.UserName</h4> </label>
            </div>
            <div class="mb-3">
                <label for="Status">Балланс: <h4>@ViewBag.UserVerefy.QurencyBallance</h4></label>
            </div>

            <div class="mb-3">
                <label for="NameOfCreator">Электронные деньги: @ViewBag.UserPayment</label>
            </div>
            @if (ViewBag.IdDealUser != 0)
            {
            <div class="mb-3">
                <label for="DateOfCreate">Текущий статус: <h4>@ViewBag.UserVerefy.QurencyDeals</h4> </label>
            </div> }
            else
            {
            <div class="mb-3">
                <label for="DateOfCreate">Текущий статус:<h4> Не занят</h4></label>
            </div>}

            <div class="mb-3">
                <label for="DateOfCreate">Кошельки: <h4>@ViewBag.UserVerefy.QurencyBallance</h4></label>
            </div>
            <div class="mb-3">
                <label for="DateOfCreate">Данные кошелька <h4>@ViewBag.UserVerefy.QurencyBallance</h4></label>
            </div>

            <div class="row">
                <div class="mb-3">
                </div>
                <br />
            </div>

            <div class="buttonrigth">
                <a class="button btn btn-lg btn-block text-center" asp-controller="Finance" asp-action="AddMoney">Добавить средства</a>
                <a class="col-md-2 mb-3 button btn  btn-lg btn-block text-center" asp-controller="Finance" asp-action="TakeAwayMoney">Вывод средств</a>
                <a class="button btn btn-lg btn-block text-center" asp-controller="Home" asp-action="ChangePassword" asp-route-id="@ViewBag.UserVerefy.Id">Изменить пароль</a>

            </div>
        </form>
    </div>
</span>

<style>
    .display-grid {
        display: grid;
    }

    .buttonrigth {
        position: absolute;
        top: 0;
        right: 0;
    }

    .text-bold {
        font-family: 'Montserrat', sans-serif;
        color: #808080;
    }

    h4 {
        display: inline;
        font-weight: bold;
    }

    h4, h4 {
        font-size: 17px;
    }
</style>