
@{ Layout = "_Layout"; }

<div class="container text-center text-gradient mt-5 mb-1">
    <h1>Активная сделка</h1>
    <hr>
</div>

<span class="border border-primary">
    <div class="col-md-12 order-md-1">
        <form class="needs-validation" asp-controller="Deals" asp-action="GarantDealProcess" novalidate>

            <div class="mb-3">
                <label for="NameOfDeal">Название сделки: @ViewBag.DealInfo.NameDeal</label>
            </div>
            <div class=" mb-3">
                <label for="NumberOfDeal">Номер заказа: @ViewBag.DealInfo.Id</label>
            </div>
            <div class="mb-3">
                <label for="Status">Статус: @ViewBag.DealInfo.Status</label>
            </div>
            <div class="mb-3">
                <label for="DateOfCreate">Дата создания: @ViewBag.DealInfo.DataCreated.ToString("d")</label>
            </div>
            <div class="mb-3">
                <label for="DateOfEnd">Дата завершения: @ViewBag.DealInfo.DataFinish.ToString("d")</label>
            </div>
            <div class="mb-3">
                <label for="NameOfCreator">Имя заказчика: @ViewBag.Author.UserName</label>
            </div>
            <div class="mb-3">
                <label for="Summ">Сумма: @ViewBag.DealInfo.QurencySumma</label>
            </div>

            <div class="mb-3">
                <label for="About">Пояснение задачи</label>
            </div>
            <div class="row">
                <div class="mb-3">
                    @ViewBag.DealInfo.Explanation
                </div>
                <br />
            </div>
            <div class="row">
                @if (ViewBag.QDeal.Status != "Завершена")
                {
                    @if (ViewBag.Author.UserName == User.Identity.Name && ViewBag.QDeal.IdAuthor == ViewBag.Author.Id && ViewBag.QDeal.Status == "В выполнении")
                    {
            <div class="col-md-3"> </div>
                                <button class="col-md-2 mb-3 button btn  btn-lg btn-block text-center" asp-controller="Deals" asp-action="CompleateDeal">Завершить заказ</button>}
                            else if (ViewBag.Executor.UserName == User.Identity.Name && ViewBag.QDeal.IdExecutor == ViewBag.Executor.Id && ViewBag.QDeal.Status == "В ожидании подтверждения")
                            {
            <div class="col-md-3"> </div>
                                <button class="col-md-2 mb-3 button btn  btn-lg btn-block text-center" asp-controller="Deals" asp-action="AcceptDealByExecutor">Подтвердить заказ</button>                }
                                    @if (ViewBag.QDeal.IdAuthor == ViewBag.Author.Id && ViewBag.Author.UserName == User.Identity.Name)
                                    {
                    <div class="col-md-1"> </div>
                                        <button class="col-md-2 mb-3 button btn  btn-lg btn-block text-center" type="submit">Отменить заказ</button>                }

                                                    <div class="col-md-1"> </div>
                                                                    <button class="col-md-2 mb-3 button btn  btn-lg btn-block text-center" asp-controller="Deals" asp-action="Chat">Перейти в ЛС</button>
                                                                }

            </div>
        </form>
    </div>
</span>






