
@{ Layout = "_Layout"; }

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>


<style>
    .display-grid{
        display: grid;
    }
    .text-bold {
        font-family: 'Montserrat', sans-serif;
        color: #808080;
    }
    h4{
        display: inline;
        font-weight: normal;
        
    }
        h4, h4 {
            font-size: 17px;
        }
</style>

<div class="container text-center text-gradient mt-5 mb-1">
    <h1>Активная сделка</h1>
    <hr>
</div>

<span class="border border-primary">
    <div class="col-md-12 order-md-1">
        <form class="needs-validation display-grid" asp-controller="Deals" asp-action="GarantDealProcess" novalidate>

            <div class="mb-3">
                <label class="text-bold" for="NameOfDeal">Название сделки: &nbsp;&nbsp;<h4>@ViewBag.DealInfo.NameDeal</h4></label>
            </div>
            <div class=" mb-3">
                <label class="text-bold" for="NumberOfDeal">Номер заказа: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h4>@ViewBag.DealInfo.Id</h4></label>
            </div>
            <div class="mb-3">
                <label class="text-bold" for="Status">Статус: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>@ViewBag.DealInfo.Status</h4></label>
            </div>
            <div class="mb-3">
                <label class="text-bold" for="DateOfCreate">Дата создания: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>@ViewBag.DealInfo.DataCreated.ToString("d")</h4></label>
            </div>
            <div class="mb-3">
                <label class="text-bold" for="DateOfEnd">Дата завершения: &nbsp; <h4>@ViewBag.DealInfo.DataFinish.ToString("d")</h4></label>
            </div>
            <div class="mb-3">
                <label class="text-bold" for="NameOfCreator">Имя заказчика: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>@ViewBag.Author.UserName</h4></label>
            </div>
            <div class="mb-3">
                <label class="text-bold" for="Summ">Сумма: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>@ViewBag.DealInfo.QurencySumma</h4></label>
            </div>
            <div class="row col-md-12">
                @if (ViewBag.QDeal.Status != "Завершена" && ViewBag.QDeal.Status != "Отменена")
                {
                    @if (ViewBag.Author.UserName == User.Identity.Name && ViewBag.QDeal.IdAuthor == ViewBag.Author.Id && ViewBag.QDeal.Status == "В выполнении")
                    {
            <div class="col-md-3"> </div>
                                <button class=" mb-3 button btn  btn-lg btn-block text-center" asp-controller="Deals" asp-action="CompleateDeal">Завершить заказ</button>}
                            else if (ViewBag.Executor.UserName == User.Identity.Name && ViewBag.QDeal.IdExecutor == ViewBag.Executor.Id && ViewBag.QDeal.Status == "В ожидании подтверждения")
                            {
            <div class="col-md-3"> </div>
                                <button class="col-md-2 mb-3 button btn  btn-lg btn-block text-center" asp-controller="Deals" asp-action="AcceptDealByExecutor">Подтвердить заказ</button>                }
                                    @if (ViewBag.QDeal.IdAuthor == ViewBag.Author.Id && ViewBag.Author.UserName == User.Identity.Name)
                                    {
                    <div class="col-md-1"> </div>
                                        <button class=" mb-3 button btn  btn-lg btn-block text-center" asp-controller="Deals" asp-action="CancelDeal">Отменить заказ</button>                }

                                                    <div class="col-md-1"> </div>

                                                                    <button class=" mb-3 button btn  btn-lg btn-block text-center" asp-controller="Deals" asp-action="Chat">Перейти в ЛС</button>

                                                                }

            </div>
        </form>
    </div>
</span>






